@charset "UTF-8";
.header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1000;
}
.header .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header .left-content h3 {
  font-size: 1.5rem;
  margin: 0;
}
.header .right-content .menu {
  display: flex;
  gap: 20px;
}
.header .right-content .menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.header .right-content .menu a:hover {
  background-color: rgba(238, 238, 238, 0.8);
}
.header .right-content .menu a.menu_1.active, .header .right-content .menu a.menu_2.active, .header .right-content .menu a.menu_3.active, .header .right-content .menu a.menu_4.active, .header .right-content .menu a.menu_5.active {
  background-color: #0d6efd;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #EEE;
}
.footer .footer_link {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.footer .footer_link .icons_social {
  width: 20%;
  height: auto;
}
.footer .menu_1,
.footer .menu_2,
.footer .menu_3,
.footer .menu_4,
.footer .menu_5 {
  position: relative;
  padding-left: 20px; /* Ajustez la taille du padding selon votre préférence */
  font-size: 16px; /* Ajustez la taille de la police selon votre préférence */
  color: #333; /* Couleur du texte */
  text-decoration: none;
}
.footer .menu_1 .arrow-icon.blue,
.footer .menu_2 .arrow-icon.blue,
.footer .menu_3 .arrow-icon.blue,
.footer .menu_4 .arrow-icon.blue,
.footer .menu_5 .arrow-icon.blue {
  color: blue; /* Couleur bleue pour l'icône */
}

.home .main_home .main_1 {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: white;
}
.home .main_home .main_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.home .main_home .main_1 .content {
  position: relative;
  z-index: 2;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.content h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.content button:hover {
  background-color: #0056b3;
}

.main_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #f9f9f9;
}
.main_2 .blue-line {
  width: 100%;
  height: 0.3%;
  background-color: blue;
  margin: 10px 0 20px; /* Ajustez les marges selon votre mise en page */
}
.main_2 .main_conteneur {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  max-width: 1200px;
}
.main_2 .main_conteneur .main_2_1, .main_2 .main_conteneur .main_2_2 {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main_2 .main_conteneur h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.main_2 .main_conteneur article {
  font-size: 1rem;
  line-height: 1.6;
}
.main_2 .main_conteneur .main_2_2 .competence-img {
  width: 30%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}
.main_2 .main_conteneur .main_2_2 h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.main_2 .main_conteneur .main_2_2 .main_2_text .skill {
  width: 30em;
  height: auto;
}
.main_2 .main_conteneur .main_2_2 .main_2_text .skill progress {
  width: 100%;
  height: 1em;
  border-radius: 10px;
}
.main_2 .main_conteneur .main_2_2 .main_2_text .skill progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
}
.main_2 .main_conteneur .main_2_2 .main_2_text .skill progress::-webkit-progress-value {
  border-radius: 10px;
}
.main_2 .main_conteneur .main_2_2 .main_2_text .skill progress::-moz-progress-bar {
  border-radius: 10px;
}

.services-img {
  width: 100%;
  height: auto;
}

.services_container {
  background-color: white;
  margin-bottom: 1%;
  padding: 2rem;
}
.services_container .icon {
  color: #007bff;
}
.services_container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}
.services_container p {
  text-align: center;
  color: #333;
}
.services_container .blue_line {
  width: 15%;
  height: 3px;
  background-color: #007bff;
  margin: 10px auto 20px; /* Ajustez les marges selon votre mise en page */
}
.services_container .service_cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Ajout d'un espacement entre les cartes */
}
.services_container .service_cartes .service_carte {
  background-color: #EEE;
  width: 30%; /* Ajustez la largeur selon votre besoin */
  padding: 1rem;
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.services_container .service_cartes .service_carte h2 {
  font-size: 1.5rem;
  color: #333;
}
.services_container .service_cartes .service_carte p {
  font-size: 1rem;
  color: #333;
  overflow-wrap: break-word; /* Assurez-vous que le texte revient à la ligne */
}
.services_container .service_cartes .service_carte .icon {
  color: #007bff;
}

.realisation_container {
  background-color: white;
  margin-bottom: 1%;
  padding: 2rem;
}
.realisation_container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}
.realisation_container p {
  text-align: center;
  color: #333;
}
.realisation_container .blue_line {
  width: 15%;
  height: 3px;
  background-color: #007bff;
  margin: 10px auto 20px; /* Ajustez les marges selon votre mise en page */
}

.blog_container {
  background-color: white;
  margin-bottom: 1%;
  padding: 2rem;
}
.blog_container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}
.blog_container p {
  text-align: center;
  color: #333;
}
.blog_container .blue_line {
  width: 15%;
  height: 3px;
  background-color: #007bff;
  margin: 10px auto 20px; /* Ajustez les marges selon votre mise en page */
}
.blog_container .blog_cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Ajout d'un espacement entre les cartes */
}
.blog_container .blog_cartes .card {
  background-color: white;
  width: 30%; /* Ajustez la largeur selon votre besoin */
  border-radius: 5%; /* Arrondir les coins des cartes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.blog_container .blog_cartes .card .blog_carte_2 {
  background-color: #EEE;
  width: 100%; /* Ajustez la largeur selon votre besoin */
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.blog_container .blog_cartes .card .card-body {
  padding: 1rem;
}
.blog_container .blog_cartes .card .card-body .card-title {
  font-size: 1.5rem;
  color: #333;
}
.blog_container .blog_cartes .card .card-body .card-text {
  font-size: 1rem;
  color: #333;
  overflow-wrap: break-word; /* Assurez-vous que le texte revient à la ligne */
}
.blog_container .blog_cartes .card .card-body .btn-primary {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
}

.img_container {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: white;
}

.img_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba 0, 105, 255, 0.5;
  z-index: 1;
}

.contact_container {
  position: relative;
  background-color: white;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact_container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}

.contact_container p {
  text-align: center;
  color: #666;
}

.blue_line {
  width: 15%;
  height: 3px;
  background-color: #007BFF;
  margin: 10px auto 20px;
}

.form_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 2rem; /* Add a gap between the form and contact info */
}

.form {
  width: 48%;
}

.form h2 {
  text-align: left;
  color: #333;
  margin-bottom: 1rem;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.contact_info {
  width: 48%;
}

.contact_info h2 {
  text-align: left;
  color: #333;
  margin-bottom: 1rem;
}

.contact_info p {
  color: #666;
  margin-bottom: 1rem;
}

.map iframe {
  border: none;
  border-radius: 4px;
}

.about h1 {
  margin-top: 70px;
  text-align: center;
}
.about .about_contenair {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
}

.accordion-title {
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  width: 80em;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}
.accordion-title.active {
  background-color: rgba(13, 110, 253, 0.1);
  color: #0d6efd;
}
.accordion-title:hover {
  background-color: #0d6efd;
  color: #fff;
}

.accordion-icon {
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease;
}
.accordion-icon.open {
  transform: rotate(180deg);
}
.accordion-icon.closed {
  transform: rotate(0deg);
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

/*# sourceMappingURL=style.css.map */
